<?xml version='1.0' encoding='utf-8'?>
<widget id="com.makina.vudlao.dev" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>vudlao</name>
	<description>
		Découvrez la Loire-Atlantique vue du ciel, grâce à plus de 6 500 photographies aériennes mises à disposition gratuitement et en open data par le Département de Loire-Atlantique.
	</description>
	<author email="contact@makina-corpus.com" href="http://makina-corpus.com">
		Makina Corpus
	</author>
	<content src="index.html" />
	<preference name="fullscreen" value="true" />
	<plugin name="cordova-plugin-whitelist" version="1" />
	<access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<allow-intent href="tel:*" />
	<allow-intent href="sms:*" />
	<allow-intent href="mailto:*" />
	<allow-intent href="geo:*" />
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
	<plugin name="cordova-plugin-device-orientation" spec="^1.0.1" />
</widget>
