*[class^='sprite-'] {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: bottom;
	background-image: url('../img/sprite.png');
}
.sprite-facebook { background-position: 0 -148px; }
.sprite-twitter { background-position: 0 -586px; }
.sprite-google-plus { background-position: 0 -294px; }
.sprite-zoom-in { background-position: 0px -662px; }
.sprite-zoom-out { background-position: 0px -738px; }
