$white: #FFFFFF;
$black: #000000;
$green: #B1CA00;
$light-grey: #EAEAEA;
$dark-grey: #222;

// Extra small devices Phones (<768px)
// Small devices Tablets (≥768px)
// Medium devices Desktops (≥992px)
// Large devices Desktops (≥1200px)
$tablets-size: 768px;

$body-bgc: $white;

$header-bgc: $green;
$header-color: $dark-grey;
$header-height: 40px;

$input-bgc: $white;
$input-color: $dark-grey;
$input-placeholder: $light-grey;

$leftButtons-bgc: $black;
$leftButtons-color: $green;
$leftButtons-size: 60px;
$leftButtons-checkbox-size: $leftButtons-size * 0.6; // 30px

$bottomleftButtons-bgc: $black;
